*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif
}
.header-bg{
	width: 100vw;
	height: auto;
	background: url('./anh/baner.jpg');
	padding: 2px;
	overflow: hidden;

}

.header-bg h1{
	font-size: 36px;
	font-weight: 500;
	color: white;
	text-shadow: 1px 0px 4px grey;
}

.header-bg span{
	color: red;
}

.header-bg h5{
	padding-top: 7px;
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 2px;

}

.header-bg ul li a{
	color: white;
}

.header-bg ul li a:hover{
	color: red;
}

#btn-buy{
	background: red;
	color: white;
	padding: 4px, 15px;


}

#btn-shop{
	background: grey;
	color: white;
	padding: 4px, 12px;
	

}

#nav-id{
	font-size: 16px;
	margin-bottom: 2px;

}
.nav-header{
	margin: 0; 
}

.nav-bg{
	background: black ;

}
.navbar, .navbar-nav, .nav-link{
	margin: 0;
	padding: 0;
}

#container{
	width: 70%;
	margin: auto;
}

#nav-1 li{
	border-right: 1px groove grey;
}

#nav-1 li a{
	padding: 7px 14px;

}
#nav-1 li a:hover{
	background: red;

}

#icon-nav{
	background: red;
	padding: 7px 12px;
}

#inputNav{
	width: 250px;
	border-radius: 3px;
	outline: none;
	border: none;
	padding: 3px;

}

#btn-nav{
	background: red;
	color: aliceblue;
	padding: 3px;
	border-radius: 4px;
	outline: none;
	border: none;
}